
h1{ 
    text-align: center;
    color: #881337;
}

table {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    border-collapse: collapse;
    }

th, td, tr {
    padding: 10px;
    border: 1px solid #e11d48;
    /* border-radius: 10px; */
}

th {
    background-color: #fecdd3;
    color: #881337;
}

.checkbox {
   width: 20px; 
}
